<form [formGroup]="constructionTaxForm">
  <div fxLayout="column" fxLayoutAlign="center center">
    <p class="mat-h4" style="width: 70%">
      21.A.16.50.00 Alte taxe pe utilizarea bunurilor, autorizarea utilizării
      bunurilor sau pe desfășurare de activități/Taxa autorizatie de construire
      Cont IBAN configurat de institutie: RO97TREZ70121160250XXXXX. Totalul de
      plată se calculează pe baza tipului de clădire pentru care se dorește
      autorizația sau pe baza valorii inițiale a taxei pentru prelungirea unei
      autorizații.
    </p>

    <div
      style="
        background-color: #407ee3;
        height: 0.1rem;
        width: 60%;
        margin-bottom: 1.5rem;
      "
    ></div>

    <div fxLayout fxLayoutAlign="space-around center" style="width: 60%">
      <mat-form-field appearance="outline" fxFlex="15rem">
        <mat-label>Județ</mat-label>
        <mat-select formControlName="county">
          <mat-option>-- Selectează județul --</mat-option>
          <mat-option
            *ngFor="let county of counties; let i = index"
            [value]="i"
          >
            {{ county }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="15rem">
        <mat-label>Instituție</mat-label>
        <mat-select formControlName="institution">
          <mat-option>-- Selectează instituția --</mat-option>
          <mat-option
            *ngFor="let institution of institutions"
            [value]="institution"
          >
            {{ institution }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field
      appearance="outline"
      style="width: 40%; margin-bottom: 2.5rem"
    >
      <mat-label>Tip taxă</mat-label>
      <mat-select formControlName="taxType">
        <mat-option value="">-- Selectează tipul de taxă --</mat-option>
        <mat-option value="create-residential">
          Clădire rezidențială
        </mat-option>
        <mat-option value="create-commercial"> Clădire comercială </mat-option>
        <mat-option value="renewal"> Prelungire autorizație </mat-option>
      </mat-select>
      <mat-hint align="start"
        ><strong
          >Selectați dacă doriți să extindeți autorizația sau tipul de clădire
          pentru care doriți o autorizație.</strong
        >
      </mat-hint>
    </mat-form-field>

    <mat-form-field
      *ngIf="constructionTaxForm.get('taxType')?.value !== ''"
      appearance="outline"
      style="width: 20rem; margin-bottom: 1.5rem"
    >
      <mat-label>Valoarea autorizată a lucrărilor de construcții</mat-label>
      <input formControlName="authorizedValue" matInput />
      <mat-hint align="start"
        ><strong>Valoarea se va introduce în RON.</strong></mat-hint
      >
    </mat-form-field>

    <div *ngIf="totalToPay !== 0">
      <p style="margin-bottom: 2.5rem; margin-top: 0; color: red">
        Total de plată: <strong>{{ totalToPay }} RON</strong>
      </p>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Tip Persoană</mat-label>
      <mat-select formControlName="personType">
        <mat-option value="individual"> Persoană Fizică </mat-option>
        <mat-option value="legal"> Persoană Juridică </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      style="width: 22rem; margin-bottom: 1rem"
    >
      <mat-label>CNP al persoanei care face plata</mat-label>
      <input formControlName="payerSSN" matInput />
      <mat-hint align="start"
        ><strong
          >Sau CUI în cazul unei Persoane Fizice Autorizate</strong
        ></mat-hint
      >
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      style="width: 25rem; margin-bottom: 1rem"
    >
      <mat-label>CNP al persoanei pentru care se face plata</mat-label>
      <input formControlName="recipientSSN" matInput />
      <mat-hint align="start"
        ><strong
          >Sau CUI în cazul unei Persoane Fizice Autorizate</strong
        ></mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 20rem">
      <mat-label>Nume și prenume/Denumire PFA</mat-label>
      <input formControlName="recipientNameOrBusiness" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 25rem">
      <mat-label>Adresa poștală</mat-label>
      <input formControlName="recipientAddress" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 20rem">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="recipientEmail" matInput />
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!constructionTaxForm.valid"
      mat-flat-button
      color="primary"
      (click)="submitForm()"
    >
      <mat-icon>check</mat-icon>
      Plătește
    </button>
  </div>
</form>
